.ImgProfile {
    
    width: 80px;
    height: 80px;
    margin-top: -85px;
    
    
}

.bgHover:hover {
    background-color: #EBEBEB; /* Grigio chiaro */
    transition: all 0.7s;
  }
  

.plus{
    width: 32px;
    height: 32px;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.underlineHover:hover{
    text-decoration:solid underline;
   
}

