.esperienze > div:last-child, .formazione > div:last-child {
    border: none !important;
}




.lavoroGreg h5{
    color: #0A66C2 !important;
}

.lavoroGreg:hover{
     cursor: pointer;
}

.lavoroGreg:hover h5{
    text-decoration: underline;   
}

.barraNavigazioneColonnaSxGreg{
    background: #0A66C2;
    color: white;
}

