.esperienze > div:last-child, .formazione > div:last-child {
    border: none !important;
}

.lavoroGreg h5{
    color: #0A66C2 !important;
}

.lavoroGreg:hover{
     cursor: pointer;
}

.lavoroGreg:hover h5{
    text-decoration: underline;   
}

.barraNavigazioneColonnaSxGreg{
    background: #0A66C2;
    color: white;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

input:checked:hover + .slider {
  background-color:#004C33;
}
input:checked + .slider {
    background-color: #01754F;
  }
input+ .slider {
    background-color:#04294E;
  }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.slider.round:before {
  border-radius: 50%;
}

.lavoroSelezionato{
  background: #EDF3F8;
  border-left: 3px solid #01754F;
}

span.page-link{
  text-align: center !important;
}

.primoDivGreg{
  color: #666666 !important;
  
  
}

.secondoDivGreg{
border-left: 5px solid  #0A66C2;
color:#0A66C2


}

.cardHeaderSaved{
  border-radius: 1rem 1rem 0rem 0rem !important;
}

.CardContainerJobsSavedss .lavoroGreg{
  border-bottom: 1px solid rgb(0, 0, 0, 0.17);
}

.CardContainerJobsSavedss .lavoroGreg:last-child {
  border: none;
}

.descrizioneLavoro img{
max-width: 100%;
}
