.mostraPubb {
    display: flex;
    align-items: baseline;
    padding: 5px 20px;
    border-radius: 90px;
    font-weight: 600;
    background-color: white;
    border: 1px solid black;
}

.mostraPubb:hover{
    background-color: #ebebeb;
    box-shadow: inset 0 0 0 2px #000000bf;
}

.mostraComp{
    text-align: center;
    padding: 10px 8px;
}

.mostraComp:hover {
    background-color: #ebebeb;
}
.mostraDett{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 5px;
    border-radius: 5px;
}
.mostraDett:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

a {
    text-decoration: none;
    color: #00000099;
}

.pointer{
    cursor: pointer;
    color: #00000099;
}


.softLine>div:not(:last-child){
    border-bottom: 1px solid rgb(0, 0, 0, 0.17);
}

h4{
    font-size: 20px;
    font-weight: 600;
}

.fs14{
    font-size: 14px;
}
.fs12{
    font-size: 12px;
}

.fw600{
    font-weight: 600;
}
.fw400{
    font-weight: 400;
}

#threeDots{
    border-radius: 50%;
    border: 0;
    color: #0a66c2;
    padding: 6px;
    height: 36px;
}

#threeDots:hover{
    background-color: #00000014!important;
    color:  #00000099;
}

.btn-messaggio{
    border-radius: 50px;
    padding: 3px 10px;
    font-weight: 600;
    color: #0a66c2;
    border-color: #0a66c2;
}
.btn-messaggio:hover{
    color: #0a66c2;
    border-color: #0a66c2;
    background-color: #70b5f933!important;
    box-shadow: inset 0 0 0 1px #0a66c2;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 167ms;
}
.lineLight:not(:last-child){
    border-bottom: 1px solid rgb(0, 0, 0, 0.17);
    
}
/* .lineLight::after{
    content: "";
    width: 100px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -1px;
    left: 0;
} */

.rete-btn{
    /* display: flex;
    padding-left: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
}
