.navbar > .container {
  flex-wrap: nowrap;
}

.Logo {
  font-size: 2.5rem;
  color: #0a66c2;
}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavbarCustom {
  height: 3.31rem;
  background-color: white;
  color: #656566;
  padding: 0rem;
}

.NavbarBtnCustom {
  border-radius: none;
  border: none;
  background-color: #edf3f8;
}

.IconSearchCustom {
  font-weight: bold;
}

.InputCustomNavbar {
  border: none;
  background-color: #edf3f8;
  height: 2.125rem;
}

.Icon {
  font-size: 1.5rem;
}

.HoverIcon {
  height: 3rem;
  width: 4rem;
  margin: 0.5rem 0.5rem 0rem 0rem;
}

@media (max-width: 540px) {
  .HoverIcon {
    width: 3rem;
  }
}

@media (min-width: 300px) and (max-width: 430px) {
  .HoverIcon {
    width: 1.5rem;
  }
}

.HoverIcon:hover {
  color: black;
}

.HoverIcon p {
  font-size: 0.7rem;
}

.ContainerNavbarCustom {
  padding: 0%;
}

.btnOffCanvasCustom {
  border: none;
  background-color: transparent;
  height: 3rem;
  color: #656566;
}

.btnOffCanvasCustom:hover {
  color: black;
}

.offcanvas-backdrop.show {
  top: 3.313rem;
}

.SideBarNavbarUl {
  list-style: none;
  font-size: 0.875rem;
  padding-left: 0px;
}
.SideBarNavbarUl li:hover {
  text-decoration: underline;
  text-decoration-color: #0a66c2;
}
.SideBarNavbarUl p {
  color: #656566;
  font-size: 0.75rem;
  margin: 0px;
  padding: 0.25rem 0rem;
}
.SideBarNavbarUl a {
  color: #252525;
  font-weight: 500;
}

.IconSVGSidebar {
  border: 1px solid #e8e8e8;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.IconSVGSidebar:hover {
  box-shadow: 0px 5px 5px #7f7f80aa;
}

input[type=text].InputNAVCOMP{
    width: 0.0625rem; 
    box-sizing: border-box;
    border: 0.125rem solid #ccc; 
    border-radius: 0.25rem; 
    font-size: 1rem; 
    background-color: white;
    background-image: url('https://cdn-icons-png.flaticon.com/256/61/61088.png');
    background-position: 0.625rem 0.5rem; 
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem; 
    padding: 0.6rem 0.625rem 0.625rem 2rem; 
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    line-height: 1.25rem; 
    vertical-align: top;
}

  
  input[type=text].InputNAVCOMP:focus {
    width: 10rem;
    background-color: #edf3f8;

  }

.custom-dropdown-toggle {
  height: 3.309rem;
  width: 4rem;
  padding: 0px;
  background-color: transparent !important;
  color: #656566;
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

/* 17rem */
.PCNImage {
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
}

.PCNNameTitle p{
    margin: 0px 0.5rem;
}
.PCNNameTitle p:first-child{
    font-weight: bold;
}

.dropdown-menu[data-bs-popper] {
  left: -210px;
}

.btnPCN{
    font-weight: 500;
    color: #0a66c2;;
    background-color: transparent;
    border: #0a66c2 1px solid;
    border-radius: 1rem;
    width:15rem ;
    
}

.btnPCN:hover{
    background-color: #0a66c20f;
}

.PCNDiv{
    margin-left:1rem;
}

.PCNDiv p:first-child{
    font-size: 0.9rem;
    font-weight: bold;
    margin:0px;
}

.PCNDiv p{
    margin:0rem 0rem 0.4rem 0rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.PCNDiv p:hover{
    text-decoration: underline;
}

.ProfileCardNavbar:active{
  background-color: transparent;
}
