.sotto-navbar-job{
    background-color: white;
    box-shadow: 4px 4px 10px grey;
<<<<<<< HEAD
    /* position: fixed; */
    /* top: 100px; */
    width: 100%;
    /* z-index: 9999999; */
=======
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
>>>>>>> 7603aa25fc8281db7a886491e80ff531bffe1e07
    margin-top: 3.31rem;
    /* transition: all 0.5s ease-in-out; */
}

.sotto-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    cursor  : pointer;

}

.sotto-navbar-sx, .sotto-navbar-btns{
    display: flex;
   
}

<<<<<<< HEAD
.sotto-navbar-btns div:nth-child(1){
=======
.sotto-navbar-job-btns{
>>>>>>> 7603aa25fc8281db7a886491e80ff531bffe1e07
    border: 1px solid #000000d8;
    border-radius: 5rem; 
    padding: 4px 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: rgb(82, 82, 82)
}
<<<<<<< HEAD
.sotto-navbar-btns div:nth-child(2){
    border: 1px solid #0A66C2;
    color: #0A66C2;
    border-radius: 5rem; 
    margin: 0 8px;
    padding: 4px 16px;
    cursor: pointer;
    font-weight: bold
}
.sotto-navbar-btns div:nth-child(3){
    color: white;
    background-color: #0A66C2;
    border-radius: 5rem; 
    padding: 4px 16px;
    cursor: pointer;
    font-weight: bold
}

.sotto-navbar-btns div:nth-child(1):hover{
    border: 2px solid black;
    padding: 3px 9px;
    background-color: #EBEBEB;
}

.sotto-navbar-btns div:nth-child(2):hover{
    border: 2px solid #0A66C2;
    padding: 3px 15px;
    background-color: #E2F0FE;
}

.sotto-navbar-btns div:nth-child(3):hover{
    background-color: #004182;
}

.sotto-navbar-avatar{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E57C2;
    border-radius: 50%;
    color: #fff;
    position: relative;
    /* font-weight: bold; */
}
.sotto-navbar-username{
    font-weight: bold;
    font-size: 0.9rem;
}

.sotto-navbar-lavoro{
    font-size: 0.8rem;
}

.sotto-navbar-info{
    margin-left: 16px;
    line-height: 1.3;
}

.avatar-pallino{
    position: absolute;
    border-radius: 50% ;
    width: 12px;
    height: 12px;
    background-color: #01754F;
    border: 2px solid #fff;
    right: 0px;
    bottom: 0px;
=======

#cuoricino-sotto-nav{
   
    padding: 4px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    color: rgb(82, 82, 82);
>>>>>>> 7603aa25fc8281db7a886491e80ff531bffe1e07
}