.sotto-navbar-job{
    background-color: white;
    box-shadow: 4px 4px 10px grey;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    margin-top: 3.31rem;
    /* transition: all 0.5s ease-in-out; */
}

.sotto-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    cursor  : pointer;

}

.sotto-navbar-sx, .sotto-navbar-btns{
    display: flex;
   
}

.sotto-navbar-job-btns{
    border: 1px solid #000000d8;
    border-radius: 5rem; 
    padding: 4px 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: rgb(82, 82, 82)
}

#cuoricino-sotto-nav{
   
    padding: 4px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    color: rgb(82, 82, 82);
}